---
import Mainlayout from "../layout/Mainlayout.astro";
import Polygonimg from "../components/Polygonimg.astro";
import Filterbutton from "../components/Filterbutton.astro";

const events = await fetch(
  "https://qrmsxsqepinalqgbykma.supabase.co/rest/v1/events?limit=8",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFybXN4c3FlcGluYWxxZ2J5a21hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzkwMzIsImV4cCI6MjA0NDIxNTAzMn0.-c24Labp4ehDyWSghIjoa_klzOKVqUva3hzdr5e8BUQ",
    },
  }
).then((Response) => Response.json());

---

<Mainlayout>
  <div class="container">
  <Filterbutton></Filterbutton>
  <div class="gallerycontainer">
    {
      events.map((event) => {
        return <Polygonimg eventdata={event} />;
      })
    }
  </div>
</div>
</Mainlayout>

<style>
  .container {
    margin-top: 200px;
  }

  @media only screen and (min-width: 769px) {
    .container {
      background-color: rgb(52, 52, 52);
    }
  .gallerycontainer {
    width: fit-content;
    outline: dashed 2px red;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
  }
  /* Mobile */
  @media only screen and (max-width: 768px) { 
    .container {
      background-color: rgb(105, 81, 81);
    }

    .gallerycontainer {
    width: 500px;
    outline: dashed 2px red;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
  }
  }

</style>
