---
import Mainlayout from "../layout/Mainlayout.astro";
import Polygonimg from "../components/polygonimg.astro";
---

<Mainlayout>
  <div class="container">
    <Polygonimg />
    <Polygonimg />
    <Polygonimg />
    <Polygonimg />
    <Polygonimg />
    <Polygonimg />
    <Polygonimg />
    <Polygonimg />
  </div>
</Mainlayout>

<style>
  .container {
    height: fit-content;
    /* outline: dashed 2px red; */
    display: grid;
    grid-template-columns: repeat(12, content-fit);
    grid-template-rows: repeat(4, content-fit);

    justify-content: center;
  }
</style>
