---
import Filterbutton from "../components/Filterbutton.astro";
import Artistlineup from "../components/Artistlineup.astro";
import Mainlayout from "../layout/Mainlayout.astro";
---

<Mainlayout>
  <div>
    <Filterbutton />
    <Artistlineup />
  </div>
</Mainlayout>

<style>
  div {
    margin-top: 200px;
  }
</style>
