---
import About from "../components/About.astro";
import Singleviewimage from "../components/Singleviewimage.astro";
import Musicbox from "../components/Musicbox.astro";
---

<div class="grid1_1">
  <div class="image-section">
    <Singleviewimage />
  </div>

  <div class="text-section">
    <About overskrift="Friday 29 August, 23:00 Manegen" />
    <div class="Musikbar">
      <Musicbox></Musicbox>
      <h3>Musik bar</h3>
      <h3>Musik bar</h3>
    </div>
  </div>
</div>

<style>
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .text-section {
    grid-column: 2;
    margin-top: 10vh;
  }

  .Musikbar {
    margin-top: 30vh;
  }

  h3 {
    gap: 40px;
  }

  @media (max-width: 768px) {
    .grid1_1 {
      display: grid;
      grid-template-columns: 1fr;
    }
    .image-section {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Musikbar {
      margin-top: 20px;
      text-align: center; /* Centrerer teksten horisontalt */
    }

    .text-section {
      margin-top: 0px;
    }
  }
</style>
