---
const overskrift = Astro.props.overskrift;
---

<div>
  <h2>
    {overskrift}
  </h2>
  <p>
    Peggy Gou is a global sensation, blending techno, house, and deep grooves
    with her unique Korean flair. Known for her high-energy sets and effortless
    cool, Peggy commands the dancefloor like no other. With chart-topping tracks
    like "Starry Night" and "It Makes You Forget (Itgehane)," she's taken over
    festivals worldwide, bringing an eclectic sound that transcends genres. Get
    ready to lose yourself in her signature mix of infectious beats and hypnotic
    rhythms—Peggy Gou is set to light up the stage and create an unforgettable
    festival experience!
  </p>
</div>
