<section class="hero">
<img src="/public/billeder/heroimg.webp" alt="Koncert">
<h1>Where techno spins <br>the karrusel begins</h1>
</section>
<style>
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    img {
        margin: 0%;
        padding: 0%;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 100%;
        object-fit: cover;
    }
    h1 {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        font-family: 'Monoton';
        font-style: normal;
        font-size: 6vw;
        color: #18E2F2;
        opacity: 80%;
        font-weight: 400;
        word-spacing: 200%;
        z-index: 1;
        text-align: center;
        align-self: end;
        margin-bottom: 0%;
    }
</style>