<section class="logo">
<h3>28-30. Agust 2025</h3>
<img src="/public/billeder/Logo_lightmode.svg" alt="Logo">
<h3>Refshaleøen</h3>
</section>

<style>
.logo{
    display: flex;
    flex-direction: row;
    
}



</style>
